* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form-box-register-forgot {
  background-color: #fff;
  width: 100%;
  height: 550;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}
@media screen and (min-width: 901px) {
  .user-register-page-forgot {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #212121;
  }
  .forgot-photo-page {
    max-width: 450px; /* Adjust the width as needed */
    height: auto;
    margin-right: 20px;
  }
  .user-register-title-forgot {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-box-register-forgot {
    background-color: #fff;
    width: 100%;
    height: 550;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
  }
  .users-forms {
    width: 500px;
  }
  
}

@media screen and (max-width: 497px) {
  .user-register-page-forgot {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    background-color: #212121;
  }
}
