/* CSS for the sidebar */
.sidebar-component{
    width: 25%; 
    background-color: #ffffff;
    color: #827a7a;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
    height: 100vh;
  }


.sidebar-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}
.sidebar-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column; 
    }
  
    .sidebar-component {
      display: none; 
    }
  }
  